.App {
  text-align: center;
  width: 50%;
  margin: auto;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ss{
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: cyan;
  margin: auto;
  margin-top: 10px;
  align-items: center;
}

.click{
  text-decoration: line-through;
}

.l{
  max-width: 100px;
  height: fit-content;
  margin: 0 auto;
  word-wrap: break-word;
}

.Save{
  margin-top: 10px;
}

.signup{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  gap: 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
